* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	z-index: 2;
}

.headertext {
	font-family: 'DM Sans', sans-serif;
	font-weight: bold;
}

.bgcolordark {
	background-color: #1B1B32;
}

.bgcolortwo {
	background-color: #2A2A40;
}

.navlink-hover:hover {
	background-color: white;
	color: #2A2A40 !important;
}

.profile-img {
	border: 0.8rem solid lightgray;
}

#aboutme {
	background-image: url("https://cdn.shopify.com/s/files/1/0656/4111/9963/files/pexels-felix-mittermeier-956981_1.jpg?v=1672733348");
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
}

.bgdarker {
	background-color: rgba(0,0,0,0.6);
}